body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
}

a:link {
    color: #228B22;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #98FB98;
    text-decoration: none;
}

a:active {
    color: #FFA462;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    height: 9vh;
    position: fixed;
    width: 100%;
}

.navbar .logodesktop {
    display: flex;
    justify-content: center;
    padding: 25px;
    position: absolute;
    cursor: pointer;
    left: 0%;
}

.navbar .logomobile {
    display: none;
}

.navbar .searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 30rem;
    height: 75%;
    border-radius: 2rem;
    padding: 0.25rem;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 39%;
    transform: translate(-50%, -50%);
}

#searchinput {
    background-color: #dbdbdb;
    border: none;
    border-radius: 2rem;
    width: 87%;
    height: 80%;
    padding: 0 1rem;
}

.performsearch {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6ffa5;
    border: none;
    border-radius: 2rem;
    height: 80%;
    width: 13%;
    margin-left: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.performsearch:hover {
    background-color: #85e085;
}

.navbar .navlist {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    position: absolute;
    right: 0;
}


.navbar .navlist>li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #fff;
    cursor: pointer;
}

.navlist li.phone {
    display: none;
}

.homebutton {
    margin-right: 0.25rem;
}

.loginbutton {
    margin-right: 0.25rem;
}

#hiddennav {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    width: 100%;
}

.footer {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.social-media-icons {
    display: flex;
    flex-direction: column;
}

.social-media-icons ion-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .navbar .logo {
        padding: 10px;
    }

    .navbar .searchbar {
        width: 25rem;
        height: 65%;
        left: 42.5%;
    }

    #searchinput {
        width: 85%;
    }

    .performsearch {
        width: 15%;
    }

    .navbar .navlist>li {
        padding: 10px;
    }
}

@media (max-width: 1024px) {
    .navbar {
        height: 8vh;
    }

    .navbar .searchbar {
        width: 15rem;
        height: 50%;
        left: 37.5%;
    }
}

@media (max-width: 768px) {
    .navbar .logodesktop {
        display: none;
    }

    .navbar .logomobile {
        width: 45px;
        display: block;
        cursor: pointer;
    }

    .navbar .searchbar {
        display: none;
    }

    .navbar .navlist {
        display: flex;
        transform: translateY(calc(100vh + 20px));
        transition: transform 0.3s ease-in-out 0s;
        padding: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, .75);
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.75);
        height: 60px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
    }

    .navlist {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out 0s;
        list-style-type: none;
        padding: 0;
        width: 100%;
        background-color: #f9f9f9;
        z-index: 1000;
    }

    .navlist li.phone {
        display: block;
    }

    .navlist li.desktop {
        display: none;
    }

    .navlist.show-nav {
        transform: translateY(calc(100vh - 56px));
    }

    .navlist li {
        margin: 10px 0;
    }

    #hiddennav {
        height: 100%;
        width: 3rem;
        display: block;
        position: absolute;
        right: 10px;
        transform: translateY(-50%);
        top: 50%;
        cursor: pointer;
        background: none;
        border: none;
    }

    #hiddennav::before,
    #hiddennav::after,
    #hiddennav .middle-bar {
        content: '';
        position: absolute;
        background-color: rgb(255, 255, 255);
        height: 0.25rem;
        width: 2.5rem;
        border-radius: 2rem;
        transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
    }

    #hiddennav::before {
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transform-origin: center center;
        opacity: 1;
    }

    #hiddennav .middle-bar {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center center;
    }

    #hiddennav::after {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transform-origin: center center;
        opacity: 1;
    }

    #hiddennav.close::before {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        opacity: 1;
    }

    #hiddennav.close .middle-bar {
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) rotate(-45deg);
        pointer-events: none;
    }

    #hiddennav.close::after {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        opacity: 1;
    }

    .footer {
        display: none;
    }

}