body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
}

/* Global link start */
a:link {
    color: #228B22;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #98FB98;
    text-decoration: none;
}

a:active {
    color: #FFA462;
    text-decoration: none;
}

/* Global link end */

/* Button start */
button {
    background-color: #27ae60;
    color: #FFFFFF;
    height: fit-content;
    width: fit-content;
    padding: 15px 30px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: .25rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc71;
}

button:active {
    background-color: #FFA462;
    text-decoration: none;
}

/* Button end */

/* Navbar start */
.navBar {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    height: 9vh;
    position: fixed;
    width: 100%;
}

.navBar .logoDesktop {
    display: flex;
    justify-content: center;
    padding: 25px;
    position: absolute;
    cursor: pointer;
    left: 0%;
}

.navBar .logoMobile {
    display: none;
}

.navBar .searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 30rem;
    height: 75%;
    border-radius: 2rem;
    padding: 0.25rem;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 39%;
    transform: translate(-50%, -50%);
}

.navBar .navList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    position: absolute;
    right: 0;
}

.navBar .navList>li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #fff;
    cursor: pointer;
}

.navList li.phone {
    display: none;
}

#hiddenNav {
    display: none;
}

.homeButton {
    margin-right: 0.25rem;
}

.loginButton {
    margin-right: 0.25rem;
}

/* Navbar end */

/* Search start */
#searchInput {
    background-color: #dbdbdb;
    border: none;
    border-radius: 2rem;
    width: 77%;
    height: 80%;
    padding: 0 1rem;
}

.performSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6ffa5;
    color: rgb(80, 80, 80);
    padding: 0;
    border: none;
    border-radius: 2rem;
    height: 80%;
    width: 13%;
    margin-left: 0.3rem;
    cursor: pointer;
}

.performSearch:hover {
    background-color: #85e085;
    color: #000000;
}

#searchMobileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#searchMobileBar {
    background-color: #dbdbdb;
    display: none;
    margin: 10px;
    padding: 0.5rem 1rem;
    font-size: 16px;
    width: 25vh;
    border: 2px solid #a6ffa5;
    border-radius: 2rem;
    box-shadow: inset 0px 0px 0 2px white;
    outline: none;
}

/* Search end */

/* Content start */
main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 182.38px);
}

/* Content end */

/* Footer start */
.footer {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: -webkit-fill-available;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footerContainer {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerColumn h3 {
    margin-bottom: 10px;
}

.footerColumn a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}

.footerColumn a:hover {
    text-decoration: underline;
}

.socialMediaIcons {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.socialMediaIcons ion-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

/* Footer end */

/* Media Queries */
@media (max-width: 1200px) {

    /* Navbar start */
    .navBar .logo {
        padding: 10px;
    }

    .navBar .searchBar {
        width: 25rem;
        height: 65%;
        left: 42.5%;
    }

    .navBar .navList>li {
        padding: 10px;
    }

    /* Navbar end */

    /* Search start */
    #searchInput {
        width: 72%;
    }

    .performSearch {
        width: 15%;
        font-size: x-small;
    }

    /* Search end */
}

@media (max-width: 1024px) {

    /* Navbar start */
    .navBar {
        height: 8vh;
    }

    .navBar .searchBar {
        width: 15rem;
        height: 50%;
        left: 37.5%;
    }

    /* Navbar end */

    /* Search start */
    #searchInput {
        width: 66%;
        font-size: x-small;
    }

    /* Search end */
}

@media (max-width: 768px) {

    body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Navbar start */
    .navBar .logoDesktop {
        display: none;
    }

    .navBar .logoMobile {
        width: 45px;
        display: block;
        cursor: pointer;
    }

    .navBar .searchBar {
        display: none;
    }

    .navBar .navList {
        display: flex;
        transform: translateY(calc(100vh + 20px));
        transition: transform 0.3s ease-in-out 0s;
        padding: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, .75);
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .navBar {
        background-color: rgba(0, 0, 0, .75);
        height: 60px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;

    }

    .navList {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out 0s;
        list-style-type: none;
        padding: 0;
        width: 100%;
        background-color: #f9f9f9;
    }

    .navList li.phone {
        display: block;
    }

    .navList li.desktop {
        display: none;
    }

    .navList.showNav {
        position: absolute;
        transform: translateY(calc(100vh - 56px));
    }

    .navList li {
        margin: 10px 0;
    }

    #hiddenNav {
        height: 100%;
        width: 3rem;
        display: block;
        position: absolute;
        right: 10px;
        transform: translateY(-50%);
        top: 50%;
        cursor: pointer;
        background: none;
        border: none;
    }

    #hiddenNav::before,
    #hiddenNav::after,
    #hiddenNav .middle-bar {
        content: '';
        position: absolute;
        background-color: rgb(255, 255, 255);
        height: 0.25rem;
        width: 2.5rem;
        border-radius: 2rem;
        transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
    }

    #hiddenNav::before {
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transform-origin: center center;
        opacity: 1;
    }

    #hiddenNav .middleBar {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center center;
    }

    #hiddenNav::after {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transform-origin: center center;
        opacity: 1;
    }

    #hiddenNav.close::before {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        opacity: 1;
    }

    #hiddenNav.close .middle-bar {
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) rotate(-45deg);
        pointer-events: none;
    }

    #hiddenNav.close::after {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        opacity: 1;
    }

    /* Navbar end */

    /* Content start */
    .content {
        height: calc(100vh - 60px);
        /* padding-top: 60px; */
    }

    /* Content end */

    /* Search start */
    #searchMobileContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #searchMobileIcon {
        cursor: pointer;
    }

    /* Search end */

    /* Footer start */
    .footer {
        display: none;
    }

    /* Footer end */

}