body {
    margin: 0;
    padding: 0;
    background: rgb(236, 236, 236);
}

header {
    min-height: 88vh;
    background: url(/assets/img/green-4183977_1280\ 1.svg);
    background-size: cover;
    color: white;
}

.logo {
    width: 100px;
    aspect-ratio: 1;
    display: flex;
    position: absolute;
    top: 3%;
    left: 2%;
}

h1 {
    position: absolute;
    top: 20%;
    left: 8%;
    color: white;
    font-size: 10rem;
    font-family: "JejuMyeongjo", cursive;
}

header > p {
    position: absolute;
    top: 55%;
    left: 8%;
    font-size: 3rem;
}

.header__btn {
    width: 25%;
    height: 5%;
    position: absolute;
    bottom: 25%;
    left: 8%;
    display: flex;
    justify-content: space-between;
}

.header__btn > button {
    width: 45%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    background: #5d9657;
    color: white;
    font-size: 1rem;
}

.header__btn > button:hover {
    background: #1e5519;
}

.header__btn > button > img {
    width: 15%;
    height: 55%;
    text-align: center;
}


.textShare{
    height: ;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #CCD2C8;
}

.textShare__Sb {
    align-self: center;
    font-weight: bold;
}

.textShare p {
    font-size: 30px;
    font-style: italic;
}

/* @media screen and (max-width: px) {

    
} */